<!--List of F1 champions per year.-->
<section class="champions col" ng-class="vm.getSelectedChampion() ? 's6': 's12'">
    <div class="collection">
        <a href="#!" class="collection-item" ng-repeat="champion in vm.champions | filter:vm.filterByRange('season', 2005, 2015) track by $index" ng-click="vm.selectChampion(champion)" ng-class="{'active': vm.getSelectedChampion() === champion}">
            <h6>
                <span><strong>{{champion.season}}</strong></span> &mdash;
                <span>{{champion.DriverStandings[0].Driver.givenName}} {{champion.DriverStandings[0].Driver.familyName}}</span>
            </h6>
        </a>
    </div>
</section>
