<div class="app-inner jumbotron">
    <!--Heading-->
    <h2>F1 Champions</h2>
    <h5>2005 &mdash; 2015</h5>


    <div class="row">
        <champions></champions>
        <races></races>
    </div>
</div>
