<!--List of F1 races in year.-->
<section class="races col s6" ng-show="vm.showRaces">
    <ul class="collection">
        <li class="collection-item teal active">
            <h5>{{vm.getRaceSeason()}} Results</h5>
        </li>

        <!--Preloader graphic-->
        <div class="preloader-wrapper big active" ng-show="vm.loading">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>

        <!--List of races-->
        <li href="#!" class="collection-item" ng-repeat="race in vm.races track by $index" ng-class="{'teal lighten-5': vm.highlightRace(race)}">
            <h6>
                <span class="title"><strong>{{race.date | date: 'MMMM d'}}</strong></span><br />
                <span>{{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}}</span>
            </h6>
        </li>
    </ul>
</section>
